MONGO_URI="mongodb+srv://root:u.hpH4cBrQPB7NS@cluster0.36iws.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"
PORT=7001
NODE_ENV=development
JWT_SECRET="your-secure-random-string"
CLIENT_URL="http://localhost:3000"